body{
    background-color: rgb(76, 76, 248);
}

header{
color: rgb(255, 255, 255);
text-align: center;
font-family: Arial, Helvetica, sans-serif;

}

section{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.368);
}

footer{
    color: white;
    text-align: center;
    font: italic;
}
div{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}
footer{
    text-align: center;
    margin: auto;
}